#pkmnLogo{
   height: 8rem;
}

.mon{
    height:30rem;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    filter: drop-shadow(10px 10px 4px rgba(0, 0, 0, 0.3));
}

.hide{
    filter: brightness(0);
}

#pikachu{
height: auto;
width: 20rem;
}

#intro{
font-size: 2rem;
padding-top: 6rem;
}

#home{
    margin-top: 3rem;
}

body{
    background-image: url(https://www.serebii.net/pokemonshirts/shirts/201.jpg);
}